In [1]:
import pandas as pd

# Read the data (downloaded from dev.hsl.fi/citybikes/od-trips-2023/od-trips-2023.zip)
data = pd.read_csv('/Users/jaakkopentik/downloads/od-trips-2023/2023-06.csv') 

# Print the first few rows of the dataset
data.head()

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2023-08-31T23:59:55,2023-09-01T00:03:54,527,Otsolahti,511,Sateentie,835.0,235
1,2023-08-31T23:58:49,2023-09-01T00:10:56,127,Teurastamo,293,Korkeasaari,2393.0,722
2,2023-08-31T23:58:26,2023-09-01T00:15:01,42,Haapaniemenkatu,37,Töölönkatu,657.0,991
3,2023-08-31T23:58:16,2023-09-01T00:09:55,121,Vilhonvuorenkatu,40,Hakaniemi (M),1280.0,695
4,2023-08-31T23:57:52,2023-09-01T00:06:48,41,Ympyrätalo,117,Brahen puistikko,1249.0,533

In [2]:
# Print the size of data to see how large it is
data.shape

(426020, 8)

In [3]:
# Print the most used departure stations
data['Departure station name'].value_counts()

Itämerentori             8595
Pasilan asema            5340
Töölönlahdenkatu         4935
Rautatientori / länsi    4521
Rautatientori / itä      4499
                         ...
Töyrynummentie             55
Lettopolku                 54
Jakomäentie                50
Sateenkaarentie            37
Porvarintie                36
Name: Departure station name, Length: 457, dtype: int64

In [4]:
# Print the most used return stations
data['Return station name'].value_counts()

Itämerentori             8551
Töölönlahdenkatu         4882
Kalasatama (M)           4599
Rautatientori / länsi    4557
Rautatientori / itä      4533
                         ...
Jakomäentie                47
Porvarintie                40
Töyrynummentie             34
Sateenkaarentie            31
Workshop Helsinki          21
Name: Return station name, Length: 458, dtype: int64

In [5]:
# Print the most common trips between two stations
data.groupby(['Departure station name', 'Return station name']).size().sort_values(ascending=False)

Departure station name                 Return station name
Jämeräntaival                          Aalto-yliopisto (M), Korkeakouluaukio    1155
Aalto-yliopisto (M), Korkeakouluaukio  Jämeräntaival                            1119
Arielinkatu                            Sompasaari                                742
Leppävaaranaukio                       Kössi Koskisen aukio                      683
Kössi Koskisen aukio                   Leppävaaranaukio                          657
                                                                                ...
Orpaanporras                           Pukinmäen liikuntapuisto                    1
                                       Puotinkylän kartano                         1
                                       Sinkilätie                                  1
                                       Sumukuja                                    1
Auringonkatu                           Hakalehto                                   1
Length: 41354, dtype: int64

In [6]:
# Print mean duration of all trips (in minutes)
round(data['Duration (sec.)'].mean() / 60, 2)

16.12